{% extends 'base.html' %}
{% block content %}
<style>
    .i-am-centered {
    margin: auto;
    max-width: 300px;
    padding-top: 20%;
    border: 1px solid rgb(159, 204, 159);
    padding: 40px;
    margin-top: 40px;
    }
    </style>
<div class="i-am-centered">
    {% if perms.vehiculo.visualizar_catalogo and perms.vehiculo.add_vehiculomodel %}
    <h3 class="text-center">Ingresar Vehiculo</h3>
    <form class="p-3" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>Marca</label>
            {{ form.marca }}
            <div class="form-group">
                <label>Modelo</label>
                {{ form.modelo }}
            </div>
            <div class="form-group">
                <label>Serial carroceria:</label>
                {{ form.serial_carroceria }}
            </div>
            <div class="form-group">
                <label>Serial Motor:</label>
                {{ form.serial_motor }}
            </div>
            <div class="form-group mt-2">
                <label>Categoria:</label>
                {{ form.categoria }}
            </div>
            <div class="form-group">
                <label>Precio:</label>
                {{ form.precio }}
            </div>
            <button type="submit" class="btn btn-success mt-3">Enviar</button>
        </div>    
    </form>
    {% else %}
      <h3>Necesitas tener permisos para agregar un vehiculo</h3>
    {% endif %}
</div>
{% endblock %}